:root {
    --background-color-light: rgba(182, 200, 211, 0.659);
    --background-color-mid-dark: rgba(131, 176, 203, 0.659);
    --button-color-light: rgba(131, 176, 203, 0.8);
    --button-color-dark: rgba(9, 42, 62, 0.8);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


header {
    text-align: center;
    margin: 1em 0;
}

nav {
    width:99%;
    position: fixed; 
    top: 0;
    left: 10px;
    z-index: 1000; 
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, .1);
    padding: 10px 0;
    border-radius: 10px;
}


main {
    width: 100%;
    display: flex;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


#app {
    width: 30%;
    height: calc(100% - 100px);
    background: rgba(128, 82, 82, 0.5);
    position: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#earth_background {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-60%, -60%); 
    z-index: -1;
    animation: rotate 60s linear infinite; 
}
#cooking-tools {

    position: absolute;
    top: 100%;
    left: 90%;
    transform: translate(-60%, -60%); 
    z-index: 3;
    scale: 2;

}

.display-content {
    z-index: 2; 
    background-color: var(--background-color-light);
    width: 95vw;
    height: 90vh;
    padding: 10px;
    box-shadow: lightgrey 0px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.container-content {
    z-index: 5; 
    background-color: var(--background-color-mid-dark);
    width: 95vw;
    height: 90vh;
    padding: 10px;
    box-shadow: rgba(211, 211, 211, 0.234) 0px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 1em;
    z-index: 1;
}

.text {
    margin-top: 1em;
    padding-left: 5em;
    margin-left: 100px;
    max-width: 50%;
    font-size: 1.5em;
    
   
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3em;
    padding-left: 3em;
    padding-top: 3em;
}
.button {
    background-color: var(--button-color-dark);
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 2em 3em;
    scale: 1.2;

}
#search-button {
    color: var(--button-color-light);
    border-color: var(--button-color-light);
}

#about h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 3em;
}

#about {
    list-style-type: none;
}

#about li{
    margin-top: 0.5em;
    margin-bottom:2em;

    
}

.app {
    background-color: var(--button-color-dark);
    width: 60%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@media (max-width: 800px) {
    #cooking-tools {
        display: none; 
    }
}
@media (max-width: 1800px) {
    #cooking-tools {
        z-index: -1; 
    }
}


