{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block main %}


            <h1 class="title">What is cook-the-world.com about?</h1>
            
            <div class="text">
                <ul id="about">
                    
                    <h4>Why cook-the-world.com?</h4>
                    <li>
                      Cook-the-world.com is my final project for Harvard's CS50x. It is a web application where you can discover random national dishes from around the globe. I am continuously adding new features to this project as a way to enhance my development skills. I have many exciting ideas, such as gamification and an interactive world map, which I am eager to implement. Stay tuned for more updates!
                    </li>
                    
                    <h4>Who am I?</h4>
                    <li>
                      I'm a German in my late 30s who decided to learn coding and automation in my spare time. That's why I enrolled in CS50x. 
                      Despite working full-time, I dedicate nearly every day to developing my skills.
                       I have a passion for automating tasks and breaking problems down into their simplest components. 
                       Cooking is another hobby of mine, and I enjoy exploring new recipes from around the world.
                        I have always wanted to cook every national dish, which is why I have a world map on my kitchen wall. </br >
                        With cook-the-world.com, I am combining my passions for coding and cooking.
                      <p>
                        Favorite Dish: Pasta Gambaretti
                    </p>
                    
                    </li>
                    
                    <h4>How is cook-the-world.com made?</h4>
                    <li>
                        Cook-the-world.com is built with Flask, a Python web framework. 
                        The data is stored in a SQLite database, and the website is styled with Bootstrap and custom CSS. I am using GitHub for project management and version control.
                        I am also using Visual Studio Code as my code editor.  
                    </li>
                    
                  </ul>
            </div>


{% endblock %}
