{% extends "layout.html" %} 






    {% block main %}
       
    <h1 class="title">Welcome to cook-the-world.com</h1>
    <div class="text">
        <p>This page is my very first web project. As functionality grows, I will add more features to make it more interactive and fun.</p>
        
        <p>For now, you can click on the button below to get a random national dish from around the world. </br >I will add recipies and pictures later. </br >If you find any wrong information or bugs, please be kind and submit this to me.</p>
        <p>I appreciate any kind of feedback as well!</p>
        <p>THANK YOU very much for trying out.</p>
        <div class="button-container">
        <a href="/about" method="GET"><button class="button" id="checkout" >What's this site about?</button></a>
        <a href="/app" method="GET"><button class="button" id="btn-get-recipe">Check out a random dish</button></a>
        </div>
    </div>

        
    {% endblock %}

